
body {
    font-family: 'Boston Angel', sans-serif; /* fuente a todo el cuerpo */
    margin: 0;
    padding: 0;
    background-color: #f8f9fa; /* Color de fondo */
    color: #212529;
}

header {
    background-color: #343a40; /* Color de fondo del encabezado */
    color: white;
    padding: 1rem 0;
    text-align: center;
}

main {
    padding: 2rem;
    text-align: center;
}

button {
    background-color: #b30000;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: #b30000;
}
#carrito {
  position: fixed;
  right: 20px;
  top: 80px; /* ajustá según tu header */
  width: 250px;
  max-height: 80vh;
  overflow-y: auto;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
#total {
  font-weight: bold;
  margin-top: 10px;
}
#carrito div {
  margin-bottom: 8px;
}
#carrito button {
  margin: 0 2px;
}
